@-moz-document url(about:blank),
url(about:newtab),
url(about:preferences),
url(about:home),
url(about:privatebrowsing){
:root {
  --newtab-background-color-secondary: #001E36 !important;
  --in-content-page-background: #001E36 !important;
  --newtab-primary-action-background: #2baff2ff !important;
}

body {
  background-color: #001E36 !important;
}

.logo,
.wordmark {
  display: none !important;
}

.search-handoff-button {
  border-radius: 50px !important;
}

search-textbox {
  border-radius: 50px !important;
  background-color: var(--in-content-page-background) !important;
}
}

@-moz-document url(about:blank),
url(about:newtab),
url(about:home){
body {
  background-image: url("librewolf_wp.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
}

@-moz-document url(about:blank){
body {
  height: 100%;
}
}